<div class="profile_header">
    <div class="center">
        <div class="col-lg-4 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                        <% if(user.preferPlatform) { %>
                            <h4><%= user.preferPlatform.name %></h4>
                        <% } %>
                        <h4></h4>
                    <h6>선호 플랫폼</h6>
                </div>
                <div class="col-xs-4 profile_content">
                    <h4><%= user.age %></h4>
                    <% if(user.profImg) { %>
                        <img src="<%= user.profImg %>" class="img-circle" alt="">
                    <% } else { %>
                        <img src="/images/default.png" class="img-circle" alt="">
                    <% } %>
                    <h4><%= user.name %></h4>
                    <h4>&nbsp;</h4>
                    <h4>&nbsp;</h4>
                </div>
                <div class="col-xs-4">
                        <% if(user.preferCategory) { %>
                            <h4><%= user.preferCategory.category_name %></h4>
                        <% } %>
                        <h4></h4>
                    <h6>선호 카테고리</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">

        </div>
    </div>
</div>
